<!DOCTYPE html>
<html lang="en">

<head>
    <title>NYC Airbnb</title>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
    <div class="logo">
        <a href="https://rb.gy/4msua" target="_blank">
            <img  src="../static/airbnblogo.png" width="600">
        </a>  
    </div> 
    <div class="container">
        {% for item in units %}
        <div class="bordo">
            <p class="title"> {{ item[1] }} </p>
            <img src="../static/images/{{item[0]}}.jpg" alt="{{item[0]}}" width="400" height="250">
            <p> Price per Night: {{ item[9] }}$ </p>
            <p> Neiborhood: {{ item[4] }} </p>
            <p> Borough: {{ item[16] }} </p>
        </div>
        {% endfor %}
    </div>
<!-- Codice HTML per l'animazione delle onde: -->
    <div class="your-container">
                <svg
                class="css-waves"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28"
                preserveAspectRatio="none"
                shape-rendering="auto"
                >
                <defs>
                <path
                  id="wave-pattern"
                  d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
                ></path>
                </defs>
                <g class="animated-waves">
                <use href="#wave-pattern" x="48" y="0" fill="rgba(155,255,255,0.7"></use>
                <use href="#wave-pattern" x="48" y="3" fill="rgba(155,255,255,0.5)"></use>
                <use href="#wave-pattern" x="48" y="5" fill="rgba(155,255,255,0.3)"></use>
                <use href="#wave-pattern" x="48" y="7" fill="rgba(155,255,255,0.3)"></use>
                </g>
                </svg>
    </div>
</body>

</html>